.appContainer{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    color: #cccccc;
}












.potion-bar-layout {
	width: 61.944vh;
	height: 16.667vh;
	top: 83.333vh;
	position: absolute;
	left: 113.611vh;
	background-image: url(../../images/Inventory_Frame.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.pointer-cursor {
	cursor: pointer;
}

.potion {
	color:rgba(255,255,255,1.000);
	font-size: 3.056vh;
	font-weight: bold;
	text-align: center;
	user-select: none;
}

.health-potion-value {
	width: 3.368vh;
	height: 4.493vh;
	margin-bottom: 0.278vh;
	padding-left: 0.156vw;
	padding-top: 0.278vh;
	position: absolute;
	left: 130.559998vh;
	top: 94.553001vh;
}

.energy-potion-value {
	width: 4.424vh;
	height: 4.493vh;
	margin-bottom: 0.278vh;
	padding-left: 0.156vw;
	padding-top: 0.278vh;
	position: absolute;
    left: 147.892990vh;
    top: 94.553001vh;
}

.health-potion-animation {
	animation-name: animationFrames1101, animationFrames1102;
	animation-duration: 0.875s, 0.583s;
	animation-timing-function: linear, linear;
	animation-fill-mode: forwards, forwards;
}

.health-potion-image {
	width: 9.722vh;
	height: 14.583vh;
	position: absolute;
	left: 121.528vh;
	top: 100.028vh;
	background-image: url(../../images/Inventory_HealthPotion.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.energy-potion-animation {
	animation-name: animationFrames1097, animationFrames1098, animationFrames1099;
	animation-duration: 0.875s, 0.875s, 0.667s;
	animation-timing-function: linear, linear, linear;
	animation-fill-mode: forwards, forwards, forwards;
}

.energy-potion-image {
	width: 9.722vh;
	height: 14.583vh;
	transform-origin: 3.125vw 7.403vh;
	position: absolute;
	left: 139.542vh;
	top: 99.639vh;
	background-image: url(../../images/InventoryPoisonPotion.png);
	background-size: contain;
	background-repeat: no-repeat;
}

@keyframes animationFrames1104 {
	0.000% {
		top: 100.139vh;
	}
	25.000% {
		top: 83.333vh;
	}
	95.000% {
		top: 83.333vh;
	}
	100% {
		top: 83.333vh;
	}
}
@keyframes animationFrames1101 {
	0.000% {
		top: 100.028vh;
	}
	25.000% {
		top: 100.028vh;
	}
	40.000% {
		top: 63.917vh;
	}
	75.000% {
		top: 63.917vh;
	}
	90.000% {
		top: 82.256vh;
	}
	95.000% {
		top: 82.256vh;
	}
	100% {
		top: 82.256vh;
	}
}
@keyframes animationFrames1102 {
	0.000% {
		transform: rotate(0.000deg);
	}
	76.923% {
		transform: rotate(-10.816deg);
	}
	84.615% {
		transform: rotate(-0.293deg);
	}
	92.308% {
		transform: rotate(5.052deg);
	}
	100% {
		transform: rotate(-0.283deg);
	}
}
@keyframes animationFrames1097 {
	0.000% {
		left: 139.542vh;
	}
	50.000% {
		left: 139.542vh;
	}
	60.000% {
		left: 139.358vh;
	}
	85.000% {
		left: 139.528vh;
	}
	90.000% {
		left: 139.528vh;
	}
	100% {
		left: 139.591vh;
	}
}
@keyframes animationFrames1098 {
	0.000% {
		top: 99.639vh;
	}
	35.000% {
		top: 99.639vh;
	}
	50.000% {
		top: 63.811vh;
	}
	60.000% {
		top: 63.912vh;
	}
	85.000% {
		top: 63.812vh;
	}
	100% {
		top: 83.507vh;
	}
}
@keyframes animationFrames1099 {
	0.000% {
		transform: rotate(0.000deg);
	}
	6.667% {
		transform: rotate(0.000deg);
	}
	26.667% {
		transform: rotate(1.778deg);
	}
	40.000% {
		transform: rotate(3.025deg);
	}
	53.333% {
		transform: rotate(4.276deg);
	}
	66.667% {
		transform: rotate(5.524deg);
	}
	73.333% {
		transform: rotate(6.773deg);
	}
	80.000% {
		transform: rotate(6.773deg);
	}
	86.667% {
		transform: rotate(0.268deg);
	}
	93.333% {
		transform: rotate(-2.551deg);
	}
	100% {
		transform: rotate(0.295deg);
	}
}