.headerContainerNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}
.headerNavLink{
    padding: 10px 0;
    box-sizing: border-box;

    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-transform: capitalize;
    color: #919191;

    transition: color 0.4s;
}
.headerNavLink :hover {
    color: #cccccc;
}




.wishlistSpanContainer{

}

.shopping{

}
.cartSpanContainer{

}
.headerNavAccount{

}
.login{

}
.create{

}