@font-face {
  src: url("../../fonts/RobotoCondensed-Regular.ttf");
  font-family: "RobotoCondensed-Regular";
  coh-font-sdf: off;
}
body {
  margin: 0 0;
}
.app-container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: #1c1b15;
}







/*
body {
  margin: 0 0;
}

.app-container {
  display: flex;
  margin: 100px;
  padding: 30px 50px;
  height: 100%;
  flex-direction: column;
  background-color: #1c1b15;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
*/
