@font-face {
  src: url("../../fonts/RobotoCondensed-Regular.ttf");
  font-family: "RobotoCondensed-Regular";
  coh-font-sdf: off;
}
body {
  margin: 0 0;
}
.app-container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: #1c1b15;
}







