@use '~@scss/variables/colors' as c;
@use '~@scss/variables/sizes' as s;

.header{
  display: flex;
  height: 60px;
  width: 100vw;
  justify-content: center;
  background-color: c.$bgColor_main;
}


.header-container {
  display: flex;
  height: 100%;
  width: 80vw;
  padding: 8px 8px;
  justify-content: space-between;
  align-items: center;
}

.header-container-logo {
  padding: 10px 0;
  display: flex;
  align-items: center;
  &:hover {
    h1 {
      color: c.$fColorHeader_active;
    }
  }
  span {
    height: 23px;
    width: 23px;

    background-image: url('~@images/logo/VectorSmartObject.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    margin-left: 12px;
    font-family: "RobotoCondensed-Regular", sans-serif;

    font-size: s.$fzHeaderH1;
    font-weight: normal;
    white-space: nowrap;
    text-transform: uppercase;
    color: c.$fColorHeader;

    transition: color 0.4s;
  }
}

.header-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 45px;

  .header-nav-link {
    display: flex;
    flex-direction: row;
    font-family: "RobotoCondensed-Regular", sans-serif;
    padding: 10px 10px;
    cursor:pointer;
    font-size: s.$fzHeader_nav;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-transform: capitalize;
    color: c.$fColorHeader;

    transition: color 0.4s;

    &:hover {
      color: c.$fColorHeader_active;
    }

    span {
      color: c.$fColorWhite;
    }
  }

  .header-nav-account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    span {
      color: c.$fColorWhite;
    }

  }
}
